@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-hover-scrollbar: #a0a3bd;
  --color-light-purple: #f8f8ff;
  --color-dark-purple: #262146;
  --color-medium-purple: #5a5a89;
}

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
/* 
*::-webkit-scrollbar {
  width: 8px;
  display: block;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-track {
  margin-block: 4px;
  border-radius: 5px;
  background: 00000000;
}
*::-webkit-scrollbar-track-piece {
  background: #00000000;
}
*::-webkit-scrollbar-thumb {
  background: var(--color-medium-purple);
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover-scrollbar);
} */
